@import '../styles/mixins';

.container {
	position: relative;
	width: 100vw;
	height: 100vh;
	background-image: linear-gradient(
		to right top,
		#040e1c,
		#001231,
		#001445,
		#001258,
		#000868
	);
	@include flexCenter;
	flex-wrap: wrap;

	& > div {
		margin: 3rem;
		@for $i from 1 through 5 {
			&:nth-of-type(#{$i}) {
				animation-delay: #{$i * 0.2s};
			}
		}
	}
}

.title {
	position: absolute;
	top: 2rem;
	left: 2rem;
	font-size: 2rem;
	color: #fff;
}
