.cube {
	width: 10rem;
	height: 10rem;
	position: relative;
	transform-origin: center center -50px;
	animation: animate 3s infinite;

	transform-style: preserve-3d;
	& * {
		transform-style: inherit;
	}
}

.face {
	position: absolute;
	width: 10rem;
	height: 10rem;
	background-color: rgba(#66ffcc, 0.7);
	border: 5px solid black;

	&:nth-of-type(1) {
		background-color: rgb(248, 93, 93);
	}

	&:nth-of-type(2) {
		transform-origin: top;
		transform: rotateX(-90deg);
	}
	&:nth-of-type(3) {
		right: 0;
		transform-origin: right;
		transform: rotateY(-90deg);
	}
	&:nth-of-type(4) {
		transform-origin: bottom;
		transform: rotateX(90deg);
	}
	&:nth-of-type(5) {
		transform-origin: left;
		transform: rotateY(90deg);
	}
	&:nth-of-type(6) {
		background-color: rgb(111, 255, 111);
		transform: translateZ(-10rem);
	}
}

@keyframes animate {
	from {
		transform: rotateX(0);
	}
	to {
		transform: rotateX(180deg) rotateY(360deg);
	}
}
